.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .node text {
    font-size: 11px;
    cursor:pointer;
    fill:black;
  }
  
  .selected {
      fill: red;
  }
  
  /*.root text{
      font-size:16px;
  }*/
  
  path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }
  
  #main{
      width: 1000px;
      height: 675px;
      background-color: #FFFFFF;
      margin-left: auto;
      margin-right: auto;
  }
  
  #d3viz{
      width: 680px;
      height: 600px;
      float: left;
      margin: 0;
      z-index: 999;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  #intro{
      display: block;
      position: absolute;
      width: 275px;
      float: left;
      margin-top: 100px;
      margin-left: 373px;
      font-size: medium;
      color: #000000;
      font-family: open-sans;
      font-style: normal;
      font-weight: 300;
  }
  
  #tableau{
      width: 320px;
      height: 800px;
      float: left;
      margin: 0;
      display: block;
  }
  
  #logo {
      margin-top: 45px;
      margin-left: auto;
      margin-right: auto;
      width: 1000px;
  }
  